<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}SSL Checker!{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('app/styles/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body ng-app="webApp">

        <div class="container-fluid">
            <header class="header">
                <h3 class="text-muted">SSL Checker</h3>
            </header>

            {% block content %}{% endblock %}

            <footer class="footer">
                <p><span class="glyphicon glyphicon-file"></span> @gitub Renaud Mioque - @renus_net</p>
            </footer>
        </div>

        <!--[if lt IE 9]>
        <script src="{{ asset('bower_components/es5-shim/es5-shim.js') }}"></script>
        <script src="{{ asset('bower_components/json3/lib/json3.js') }}"></script>
        <![endif]-->

        <script src="{{ asset('bower_components/jquery/dist/jquery.js') }}"></script>
        <script src="{{ asset('bower_components/angular/angular.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bower_components/angular-resource/angular-resource.js') }}"></script>
        <script src="{{ asset('bower_components/angular-cookies/angular-cookies.js') }}"></script>
        <script src="{{ asset('bower_components/angular-sanitize/angular-sanitize.js') }}"></script>
        <script src="{{ asset('bower_components/angular-animate/angular-animate.js') }}"></script>
        <script src="{{ asset('bower_components/angular-touch/angular-touch.js') }}"></script>
        <script src="{{ asset('bower_components/angular-route/angular-route.js') }}"></script>
        <script src="{{ asset('bower_components/ng-dialog/js/ngDialog.js') }}"></script>

        <script src="{{ asset('app/scripts/app.js') }}"></script>
        <script src="{{ asset('app/scripts/services/request.js') }}"></script>
        <script src="{{ asset('app/scripts/controllers/main.js') }}"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>